<h2>Lista productos Real Time websocket</h2>
<hr/>
<div id="div">
    {{#each products}}
    <li id="li">{{this.title}}</li>
    {{/each}}
</div>


<script src="/socket.io/socket.io.js" ></script>
    <script src="/js/index2.js"></script>